table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
tr th {
    background-color: aqua;
}
button {
    padding: 0.4rem 0.8rem;
    margin: 0.1rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background: var(--area-bg);
    color: var(--link-color);
    /* color: var(--primary-color); */
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    font-size: 0.9rem;
}
.selected {
    background-color: green;
}