<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week Builder</title>
    <style>
        table, th, tr {
            border: 1px solid black;
        }
        td, th {
            padding: 5px;
        }
        .bordered {
            border: 1px solid black;
            text-align: center;
            vertical-align: middle;
        }
        .vertical_writing {
            transform: rotate(-90deg);
        }
        table {
            border-collapse: collapse;
        }
        .seperator_row {
            height: 10px;
            background-color: aqua;
            padding: 0;
        }
        .header_row {
            /* background-color: rgb(255, 89, 89); */
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Week Builder</h1>

    <button onclick="buildWeekProgram()">Build Week Program</button>
    <button onclick="getWeekProgram()">Get Week Program</button>

    <div id="weekProgramContainer"></div>

    <script>
        async function buildWeekProgram() {
            try {
                let response = await fetch("/build_week_program", {
                    method: "POST",
                    // body: JSON.stringify({ user_id: 123 })
                });

                // if (response.status != 200) {
                //     throw new Error("Failed to build week program.");
                // }
                let container = document.getElementById("weekProgramContainer");
                container.innerHTML = "Week program built successfully.";

            } catch (error) {
                console.error("Error fetching week program:", error);
            }
        }

        async function getWeekProgram() {
            try {
                let response2 = await fetch("/get_combined_week_program");
                let weekProgram = await response2.json();

                renderWeekProgram(weekProgram);
            } catch (error) {
                console.error("Error fetching week program:", error);
            }
        }

        function create_lecture_cell(lecture) {
            let cell = document.createElement("td");

            cell.rowSpan = lecture["count"];
            cell.innerHTML = lecture["name"] + "<br>" + lecture["professorName"];
            cell.className = "bordered";

            cell.style.backgroundColor = "#E0E0E0";
            return cell;
        }

        function create_hour_cell(hour) {
            let cell = document.createElement("td");

            cell.textContent = `${hour}:00 ~ ${hour}:50`;
            cell.className = "bordered";

            return cell;
        }

        function create_day_cell(day) {
            let cell = document.createElement("td");

            cell.textContent = day;
            cell.className = "bordered vertical_writing";
            cell.style.width = "30px";
            cell.rowSpan = Object.keys(weekProgram[day]).length + 1;

            return cell;
        }

        function create_seperator_row() {
            let seperator_row = document.createElement("tr");
            
            let seperator_element = document.createElement("td");
            seperator_element.className = "seperator_row";
            seperator_element.colSpan = 999;
            
            seperator_row.appendChild(seperator_element);
            
            return seperator_row;
        }
        
        function create_table_header(cols_list) {
            let header = document.createElement("thead");

            let header_row = document.createElement("tr");
            
            let day_col = document.createElement("td");
            day_col.textContent = "Day";
            day_col.className = "bordered header_row";
            header_row.appendChild(day_col);
            
            let hour_col = document.createElement("td");
            hour_col.textContent = "Time";
            hour_col.className = "bordered header_row";
            header_row.appendChild(hour_col);
            
            let i = 0;
            let span = 0;
            while (cols_list[i] !== undefined && cols_list[i].find(item => item !== null)["year"] == 1) {
                i++;
                span++;
            }

            let year1_col = document.createElement("td");
            year1_col.textContent = "Year 1";
            year1_col.className = "bordered header_row";
            year1_col.colSpan = span;
            header_row.appendChild(year1_col);
            
            span = 0;
            while (cols_list[i] !== undefined && cols_list[i].find(item => item !== null)["year"] == 2) {
                i++;
                span++;
            }
            
            let year2_col = document.createElement("td");
            year2_col.textContent = "Year 2";
            year2_col.className = "bordered header_row";
            year2_col.colSpan = span;
            header_row.appendChild(year2_col);
            
            span = 0;
            while (cols_list[i] !== undefined && cols_list[i].find(item => item !== null)["year"] == 3) {
                i++;
                span++;
            }
            
            let year3_col = document.createElement("td");
            year3_col.textContent = "Year 3";
            year3_col.className = "bordered header_row";
            year3_col.colSpan = span;
            header_row.appendChild(year3_col);
            
            span = 0;
            while (cols_list[i] !== undefined && cols_list[i].find(item => item !== null)["year"] == 4) {
                i++;
                span++;
            }
            
            let year4_col = document.createElement("td");
            year4_col.textContent = "Year 4";
            year4_col.className = "bordered header_row";
            year4_col.colSpan = span;
            header_row.appendChild(year4_col);


            header.appendChild(header_row);

            return header;
        }

        function get_cols_list(day, start_cols_list = []) {
            let srart_len = (!start_cols_list.length) ? 0 : start_cols_list[0].length
            let cols_list = start_cols_list

            let hours = Object.keys(day);

            for (let h = 0; h < hours.length; h++) {
                let hour = hours[h]

                var added_to = []
                for (let j = 0; j < cols_list.length; j++) {
                    added_to.push(false)
                }

                for (let i = day[hour].length - 1; i >= 0; i--) {
                    // console.log(day[hour][i])
                    lec = day[hour][i];

                    let old_cols_list_len = cols_list.length;
                    for (let j = 0; j < old_cols_list_len; j++) {
                        if (!added_to[j] && cols_list[j].find(item => item !== null)["year"] == lec["year"]) {
                            added_to[j] = true;
                            cols_list[j].push(lec);
                            day[hour].splice(i, 1);
                            break;
                        }
                    }
                }

                // console.log(cols_list)

                for (let j = 0; j < cols_list.length; j++) {
                    // console.log(added_to[j], j)
                    if (!added_to[j]) {
                        added_to[j] = true;
                        cols_list[j].push(null);
                    }
                }

                for (let i = day[hour].length - 1; i >= 0; i--) {
                    lec = day[hour][i]

                    let z = [];
                    for (let j = 0; j < srart_len + h; j++) {
                        z.push(null);
                    }
                    z.push(lec);

                    cols_list.push(z);

                    // console.log(cols_list.slice())

                    day[hour].splice(i, 1);
                }
            }

            return cols_list;
        }

        function renderWeekProgram(weekProgram) {
            let container = document.getElementById("weekProgramContainer");
            container.innerHTML = "<h2>Week Program</h2>";

            let table = document.createElement("table");

            let cols_list = []

            for (const day in weekProgram) {
                cols_list = get_cols_list(weekProgram[day], cols_list);
            }
            cols_list.sort((a, b) => {
                const getFirstValidYear = (arr) => {
                    const firstValid = arr.find(item => item !== null);
                    return firstValid;
                };

                return getFirstValidYear(a)["year"] - getFirstValidYear(b)["year"];
            });

            // table.appendChild(create_table_header(cols_list))

            // console.log(cols_list)

            let global_row_index = 0;

            for (const day in weekProgram) {
                table.appendChild(create_table_header(cols_list))

                let row = document.createElement("tr");

                // Day column
                let dayCell = document.createElement("td");
                dayCell.textContent = day;
                dayCell.className = "bordered vertical_writing";
                dayCell.rowSpan = Object.keys(weekProgram[day]).length + 1;
                table.appendChild(dayCell);

                let rows = []
                for (const hour in weekProgram[day]) {
                    let hourRow = document.createElement("tr");

                    let hourCell = create_hour_cell(hour);
                    hourRow.appendChild(hourCell);

                    rows.push(hourRow);
                }

                let zzz = [];

                for (let i = 0; i < rows.length; i++) {
                    let yyy = zzz.slice();

                    for (const col in cols_list) {
                        if (cols_list[col][global_row_index] !== null && cols_list[col][global_row_index] !== undefined) {
                            var cell = create_lecture_cell(cols_list[col][global_row_index])
                            
                            yyy.push(cols_list[col][global_row_index]["count"]);
                        }
                        else {
                            var cell = document.createElement("td");
                        }

                        // console.log(global_row_index, i, cols_list[col][global_row_index], rows[i].childElementCount -1, Object.keys(cols_list).length, zzz.length)
                        if (rows[i].childElementCount -1 != Object.keys(cols_list).length - zzz.length) {
                            rows[i].appendChild(cell);
                        }
                    }
                    zzz = yyy;

                    for (let j = zzz.length-1; j >= 0; j--) {
                        if (zzz[j] == 1) {
                            zzz.splice(j, 1)
                        }
                        else {
                            zzz[j]--;
                        }
                    }

                    global_row_index++;
                }

                for (const row in rows) {
                    table.appendChild(rows[row]);
                }

                table.appendChild(row);
                
                // table.appendChild(create_seperator_row());

            }

            container.appendChild(table);
        }
    </script>
</body>
</html>
