<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Time</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav>
        <a href='week_program'><button>Week Program</button></a>
    </nav>

    <h2>Professor Time Table</h2>
    {% if professor_name != None %}
    <h4 id="current_professor">{{professor_name}}</h4>
    
    <div id="timeTableContainer"></div>
    
    <br>
    {% endif %}

    <div>
        {% for professor in professors %}
            <a href="professor_time?professors_number={{professor.number}}">{{ professor.name }}</a><br>
        {% endfor %}
    </div>
    <br>

    <script>
        async function displayTimeTable() {
            var response = await fetch("/get_professor_time_table?type=html&professors_number={{professors_number}}");
            
            let weekProgram = await response.text();
            
            let container = document.getElementById("timeTableContainer");
            container.innerHTML = weekProgram;
        }

        function toggleDay(dayIndex) {
            console.log
            const cells = document.querySelectorAll(`#schedule-table tbody tr td:nth-child(${dayIndex + 1})`);
            const allSelected = Array.from(cells).every(cell => cell.classList.contains('selected'));
            cells.forEach(cell => {
                if (!cell.classList.contains('break')) {
                    cell.classList.toggle('selected');
                }
            });
        }

        function eraseDay(dayIndex) {
            const cells = document.querySelectorAll(`#schedule-table tbody tr td:nth-child(${dayIndex + 1})`);
            cells.forEach(cell => {
                if (!cell.classList.contains('break')) {
                    cell.classList.toggle('selected', false);
                }
            });
        }
        
        async function saveFreeTime() {
            let prof_time_data = []

            days_row = Array.from(document.querySelectorAll("#schedule-table thead tr th"));

            rows = Array.from(document.querySelectorAll("#schedule-table tbody tr"));

            for (let i = 0; i < rows.length; i++) {
                cells = Array.from(rows[i].querySelectorAll("td"));

                for (let j = 1; j < cells.length; j++) {
                    if (cells[j].classList.contains('selected')) {
                        prof_time_data.push(["{{professors_number}}", cells[0].getAttribute("value"), days_row[j].getAttribute("value")]);
                    }
                }
            }

            let response = await fetch("/professor_time", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(prof_time_data),
            });

            if (response.ok) {
                alert("Saved");
            } else {
                alert("Error");
            }
        }
        
        displayTimeTable()
    </script>
</body>
</html>
