<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week Program</title>
    <link rel="stylesheet" href="static/style.css">
</head>
    <nav>
        <a href='professor_time'><button>Professor Time</button></a>
    </nav>
    <br>
    
    {% if role == "student" %}
        <input type="hidden" id="students_number" name="students_number" value="{{students_number}}">
        <input type="checkbox" name="only_my_lectures" onchange="displayWeekProgram()">
        <span>Only my lectures</span>
        <br>
        <br>
    {% endif %}

    <button onclick="buildWeekProgram()">Build Week Program</button>
    <br>

    <!-- <a href="/get_week_program?download=True&type=html&students_number={{students_number}}&{{professors_numbers}}"><button>Download html Week Program</button></a>
    <a href="/get_week_program?download=True&type=json&students_number={{students_number}}&{{professors_numbers}}"><button>Download json Week Program</button></a>
    <a href="/get_week_program?download=True&type=excel&students_number={{students_number}}&{{professors_numbers}}"><button>Download excel Week Program</button></a> -->
    <button onclick="downloadWeekProgram('/get_week_program?download=True&type=html')">Download html Week Program</button></a>
    <button onclick="downloadWeekProgram('/get_week_program?download=True&type=json')">Download json Week Program</button></>
    <button onclick="downloadWeekProgram('/get_week_program?download=True&type=excel')">Download excel Week Program</button></>
    <br>

    <h2>Week Program</h2>

    <div id="weekProgramContainer"></div>

    <br>
    <br>
    <form>
        {% if role == "admin" %}
            <label for="students_number">Students Number:</label>
            <br>
            <input type="text" id="students_number" name="students_number" value="{{students_number}}">
            <br>
            <br>
        {% elif role == "student" and students_number != None %}
            <input type="hidden" id="students_number" name="students_number" value="{{students_number}}">
        {% endif %}

        <label for="professors_numbers">Professors:</label>
        <br>
        {% for professor in professors %}
            <input type="checkbox" name="professors_numbers" value="{{professor[1]}}" {% if professor[1] in professors_numbers %}checked{% endif %}>
            {{professor[2]}}
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>

    <script>
        async function buildWeekProgram() {
            let response = await fetch("/generate_week_program", {
                method: "POST",
            });

            displayWeekProgram()
        }

        async function add_filters_to_url(url) {
            let e = document.getElementsByName("only_my_lectures");

            if ((e.length === 0 || e[0].checked) && "{{students_number}}" !== "None") {
                url += "&students_number={{students_number}}";
            }
            url += "&{{professors_numbers}}";
            url = url.replaceAll("amp;", "");

            // if (url.endswith("?")) {
            //     url = url.slice(0, -1);
            // }

            return url;
        }

        async function displayWeekProgram() {
            var response = await fetch(await add_filters_to_url("/get_week_program?type=html"));
            
            if (!response.ok) {
                alert((await response.json())["message"])
            }

            let weekProgram = await response.text();
            
            let container = document.getElementById("weekProgramContainer");
            container.innerHTML = weekProgram;
        }

        async function downloadWeekProgram(url) {
            window.location.href = await add_filters_to_url(url);
        }

        displayWeekProgram()
    </script>
</body>
</html>
